.envelope {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  margin: auto;
}

.envelope .envelope__card {
  position: absolute;
  bottom: 0;
  display: block;
  width: 250px;
  height: 200px;
  margin: 0 25px;
  padding: 12px;
}

.envelope .enveloper__card-text {
  padding: 10px 20px;
  font-size: 42px;
  margin: 0;
  color: black;
}

.envelope .envelope__side {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

.envelope .envelope__side--left {
  left: 0;
  border-width: 100px 0 100px 150px;
  border-color: transparent transparent transparent #ffffff;
}

.envelope .envelope__side--right {
  right: 0;
  border-width: 100px 150px 100px 0;
  border-color: transparent #ffffff transparent transparent;
}

.envelope .envelope__side--bottom {
  top: auto;
  left: 0;
  bottom: 0;
  border-width: 0 150px 100px 150px;
  border-color: transparent transparent #ecf0f1 transparent;
}

.envelope .envelope__side--top {
  top: 0;
  left: 0;
  bottom: auto;
  border-width: 100px 150px 0 150px;
  border-color: #ecf0f1 transparent transparent transparent;
  z-index: 1;
}

.envelope.open > .envelope__side--top {
  top: -100px;
  border-width: 0 150px 100px 150px;
  border-color: transparent transparent #c9d0d2 transparent;
}

.heart-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25px;
}

.heart:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.envelope.open .heart:hover {
  transform: none;
}

.ribbon {
  position: absolute;
  z-index: 2;
}

.ribbon.vertical {
  width: 3px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ribbon.horizontal {
  height: 3px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
